In [1]:
import pandas as pd

In [2]:
purchase_df = pd.read_csv("purchase_data.csv")

In [3]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Total Number of Players
players = purchase_df["SN"].value_counts()
playerTotal = len(players)
playerTotal_df = pd.DataFrame({"Total Players": [playerTotal]})
totalnum = int(playerTotal_df.iloc[0,0])
#totalnum

In [5]:
#Number of Unique Items
items = purchase_df["Item ID"].value_counts()
itemTotal = len(items)
#itemTotal

In [6]:
totalPrice = round(purchase_df["Price"].sum(), 2)
#totalPrice

In [7]:
purchases = purchase_df["Purchase ID"].value_counts()
purchaseTotal = len(purchases)
#purchaseTotal

In [8]:
averagePrice = round(totalPrice/purchaseTotal, 2)
#averagePrice

In [9]:
#Purchasing Analysis (Total)
purchaseAnalysis_df = pd.DataFrame({"Number of Unique Items": [itemTotal], "Average Purchase Price": [averagePrice], "Total Number of Purchases": [purchaseTotal], "Total Revenue": [totalPrice]})
#purchaseAnalysis_df

In [10]:
#Purchasing Analysis w/ Formatting
purchaseAnalysis_df["Average Purchase Price"] = purchaseAnalysis_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purchaseAnalysis_df["Total Revenue"] = purchaseAnalysis_df["Total Revenue"].astype(float).map("${:,.2f}".format)

In [11]:
#Beginning of Gender Demographics Work
snGender_df = purchase_df[["SN", "Gender"]]
uniqueGenSn_df = snGender_df.drop_duplicates()
#uniqueGenSn_df

In [12]:
genderGroup = uniqueGenSn_df.groupby(["Gender"])
gender_df = genderGroup.count()
#gender_df

In [13]:
percentGender = gender_df["SN"]/ totalnum
#percentGender

In [14]:
gender_df["Percentage of Players"] = percentGender
#gender_df

In [15]:
gender_df.rename(columns={"SN":"Total Count"}, inplace=True)
#gender_df

In [16]:
#Formatting for Gender Analysis
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:,.2%}".format)

In [17]:
#Display Player Count
playerTotal_df

   Total Players
0            576

In [18]:
#Display Purchasing Analysis(Total)
purchaseAnalysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [19]:
#Display Gender Demographics
gender_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%