In [1]:
import pandas as pd

In [2]:
purchase_df = pd.read_csv("purchase_data.csv")

In [3]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Total Number of Players
players = purchase_df["SN"].value_counts()
playerTotal = len(players)
playerTotal_df = pd.DataFrame({"Total Players": [playerTotal]})
totalnum = int(playerTotal_df.iloc[0,0])
#totalnum

In [5]:
#Number of Unique Items
items = purchase_df["Item ID"].value_counts()
itemTotal = len(items)
#itemTotal

In [6]:
totalPrice = round(purchase_df["Price"].sum(), 2)
#totalPrice

In [7]:
purchases = purchase_df["Purchase ID"].value_counts()
purchaseTotal = len(purchases)
#purchaseTotal

In [8]:
averagePrice = round(totalPrice/purchaseTotal, 2)
#averagePrice

In [9]:
#Purchasing Analysis (Total)
purchaseAnalysis_df = pd.DataFrame({"Number of Unique Items": [itemTotal], "Average Purchase Price": [averagePrice], "Total Number of Purchases": [purchaseTotal], "Total Revenue": [totalPrice]})
#purchaseAnalysis_df

In [10]:
#Beginning of Gender Demographics Work
snGender_df = purchase_df[["SN", "Gender"]]
uniqueGenSn_df = snGender_df.drop_duplicates()
#uniqueGenSn_df

In [11]:
genderGroup = uniqueGenSn_df.groupby(["Gender"])
gender_df = genderGroup.count()
#gender_df

In [12]:
percentGender = gender_df["SN"]/ totalnum
#percentGender

In [13]:
gender_df["Percentage of Players"] = percentGender
#gender_df

In [14]:
gender_df.rename(columns={"SN":"Total Count"}, inplace=True)
#gender_df

In [15]:
#Beginning of Purchasing Analysis (Gender)
genPur_df = purchase_df[["Purchase ID", "SN", "Gender", "Price"]]
#genPur_df

In [16]:
Count = genPur_df.groupby(["Gender"])
Count_df = Count.count()
#Count_df

In [17]:
genderAnalysis_df = pd.DataFrame({"Purchase Count" :Count_df["Purchase ID"]})
#genderAnalysis_df

In [18]:
avg_df = Count.mean()
#avg_df

In [19]:
priceAvg = avg_df["Price"]
#priceAvg

In [20]:
sum_df = Count.sum()
#sum_df

In [21]:
totalPrice = sum_df["Price"]
#totalPrice

In [22]:
personGroup = genPur_df.groupby(["Gender", "SN"])
personGroupTotal_df = personGroup.sum()
#personGroupTotal_df

In [23]:
genderPers = personGroupTotal_df.groupby(["Gender"])
genderPers_df = genderPers.mean()
#genderPers_df

In [24]:
priceAvgPers = genderPers_df["Price"]
#priceAvgPers

In [25]:
genderAnalysis_df["Average Purchase Price"] = priceAvg
#genderAnalysis_df

In [26]:
genderAnalysis_df["Total Purchase Value"] = totalPrice
#genderAnalysis_df

In [27]:
genderAnalysis_df["Avg Total Purchase per Person"] = priceAvgPers
#genderAnalysis_df

In [28]:
#Beginning of Purchasing Analysis (Age) work
agebin = [0,10,15,20,25,30,35,40,45,100]
agebin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45+"]
purchase_df["Age"].max()
purchase_df["Age Groups"] = pd.cut(purchase_df["Age"], agebin, labels=agebin_names, include_lowest=True)
#purchase_df

In [29]:
groupAge = purchase_df.groupby(["Age Groups"])
ageCount_df = groupAge.count()
#ageCount_df

In [30]:
purCountAge = ageCount_df["Purchase ID"]
#purCountAge

In [31]:
ageAvg_df = groupAge.mean()
#ageAvg_df

In [32]:
purAvgPriceAge = ageAvg_df["Price"]
#purAvgPriceAge

In [33]:
ageSum_df = groupAge.sum()
#ageSum_df

In [34]:
purTotalPriceAge = ageSum_df["Price"]
#purTotalPriceAge

In [35]:
agePersGroup = purchase_df.groupby(["Age Groups", "SN"])
agePersGroup_df = agePersGroup.sum()
#agePersGroup_df

In [36]:
ageGroupByPerson = agePersGroup_df.groupby(["Age Groups"])
ageGroupByPerson_df = ageGroupByPerson.mean()
#ageGroupByPerson_df

In [37]:
purAvgPriceAgePerson = ageGroupByPerson_df["Price"]
#purAvgPriceAgePerson

In [38]:
ageAnalysis_df = pd.DataFrame({"Purchase Count" :ageCount_df["Purchase ID"]})
#ageAnalysis_df

In [39]:
ageAnalysis_df["Average Purchase Price"] = purAvgPriceAge
#ageAnalysis_df

In [40]:
ageAnalysis_df["Total Purchase Value"] = purTotalPriceAge
#ageAnalysis_df

In [41]:
ageAnalysis_df["Avg Total Purchase per Person"] = purAvgPriceAgePerson
ageAnalysis_df = ageAnalysis_df.dropna()
#ageAnalysis_df

In [42]:
#Age Demograhpics work
agePersonCount_df = ageGroupByPerson.count()
#agePersonCount_df

In [43]:
ageDemo_df = pd.DataFrame({"Total Count" :agePersonCount_df["Age"]})
#ageDemo_df

In [44]:
ageDemo_df["Percentage of Players"] = agePersonCount_df["Age"]/totalnum
#ageDemo_df

In [47]:
#Top Spenders work
playersGroup = purchase_df.groupby(["SN"])
#playersGroup
playersSum_df = playersGroup.sum()
playersSum_df

               Purchase ID  Age  Item ID  Price
SN
Adairialis76           467   16      123   2.28
Adastirin33            142   35      175   4.48
Aeda94                 388   17      128   4.91
Aela59                  28   21      119   4.32
Aelaria33              630   23      171   1.79
...                    ...  ...      ...    ...
Yathecal82            1400   60      241   6.22
Yathedeu43             688   44      143   6.02
Yoishirrala98          572   17      145   4.58
Zhisrisu83             195   20       85   7.89
Zontibe81             1019   63      247   8.03

[576 rows x 4 columns]

In [51]:
playersSum_df = playersSum_df.sort_values(["Price"], ascending=False)
playersSum_df
#playersCount_df = playersGroup.count()
#playersCount_df

             Purchase ID  Age  Item ID  Price
SN
Lisosia93           1630  125      442  18.96
Idastidru52         1999   96      527  15.45
Chamjask73          1306   66      339  13.83
Iral74              2285   84      518  13.62
Iskadarya95          713   60      321  13.10
...                  ...  ...      ...    ...
Ililsasya43          702   19       12   1.02
Irilis75             582   20       19   1.02
Aidai61              282   21      155   1.01
Chanirra79           586   23      155   1.01
Alo38                 63   20      125   1.00

[576 rows x 4 columns]

In [56]:
topFive_df = playersSum_df.head(5)
topFiveTotal_df = pd.DataFrame({"Total Purchase Value": topFive_df["Price"]})
topFiveTotal_df

             Total Purchase Value
SN
Lisosia93                   18.96
Idastidru52                 15.45
Chamjask73                  13.83
Iral74                      13.62
Iskadarya95                 13.10

In [61]:
playersCount_df = playersGroup.count()
playersCount_df.drop(columns=["Age", "Gender", "Item ID", "Item Name", "Price", "Age Groups"], inplace=True)
playersCount_df

               Purchase ID
SN
Adairialis76             1
Adastirin33              1
Aeda94                   1
Aela59                   1
Aelaria33                1
...                    ...
Yathecal82               3
Yathedeu43               2
Yoishirrala98            1
Zhisrisu83               2
Zontibe81                3

[576 rows x 1 columns]

In [58]:
playersAverage_df = playersGroup.mean()
playersAverage_df.drop(columns=["Purchase ID", "Age", "Item ID"], inplace=True)
playersAverage_df

                  Price
SN
Adairialis76   2.280000
Adastirin33    4.480000
Aeda94         4.910000
Aela59         4.320000
Aelaria33      1.790000
...                 ...
Yathecal82     2.073333
Yathedeu43     3.010000
Yoishirrala98  4.580000
Zhisrisu83     3.945000
Zontibe81      2.676667

[576 rows x 1 columns]

In [60]:
topTotalMean_df = pd.merge(topFiveTotal_df, playersAverage_df, on="SN", how="left")
topTotalMean_df.rename(columns={"Price":"Average Purchase Price"}, inplace=True)
topTotalMean_df

             Total Purchase Value  Average Purchase Price
SN
Lisosia93                   18.96                3.792000
Idastidru52                 15.45                3.862500
Chamjask73                  13.83                4.610000
Iral74                      13.62                3.405000
Iskadarya95                 13.10                4.366667

In [62]:
topAnalysis_df = pd.merge(topTotalMean_df, playersCount_df, on="SN", how="left")
topAnalysis_df.rename(columns={"Purchase ID":"Purchase Count"}, inplace=True)
topAnalysis_df

             Total Purchase Value  Average Purchase Price  Purchase Count
SN
Lisosia93                   18.96                3.792000               5
Idastidru52                 15.45                3.862500               4
Chamjask73                  13.83                4.610000               3
Iral74                      13.62                3.405000               4
Iskadarya95                 13.10                4.366667               3

In [ ]:
#Display Player Count
playerTotal_df

In [ ]:
#Purchasing Analysis w/ Formatting
purchaseAnalysis_df["Average Purchase Price"] = purchaseAnalysis_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purchaseAnalysis_df["Total Revenue"] = purchaseAnalysis_df["Total Revenue"].astype(float).map("${:,.2f}".format)

In [ ]:
#Display Purchasing Analysis(Total)
purchaseAnalysis_df

In [ ]:
#Formatting for Gender Demographics
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:,.2%}".format)

In [ ]:
#Display for Gender Demographics
gender_df

In [ ]:
#Formatting for Gender Analysis
genderAnalysis_df["Average Purchase Price"] = genderAnalysis_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
genderAnalysis_df["Total Purchase Value"] = genderAnalysis_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
genderAnalysis_df["Avg Total Purchase per Person"] = genderAnalysis_df["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

In [ ]:
#Display for Gender Analysis
genderAnalysis_df

In [ ]:
#Formatting for Age Demographics
ageDemo_df["Percentage of Players"] = ageDemo_df["Percentage of Players"].map("{:,.2%}".format)

In [ ]:
#Display for Age Demographics
ageDemo_df

In [ ]:
#Formatting for Age Analysis
ageAnalysis_df["Average Purchase Price"] = ageAnalysis_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
ageAnalysis_df["Total Purchase Value"] = ageAnalysis_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
ageAnalysis_df["Avg Total Purchase per Person"] = ageAnalysis_df["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

In [ ]:
#Display for Age Analysis
ageAnalysis_df

In [63]:
#Formatting for Top Spenders
topAnalysis_df["Average Purchase Price"] = topAnalysis_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
topAnalysis_df["Total Purchase Value"] = topAnalysis_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
topAnalysis_df

            Total Purchase Value Average Purchase Price  Purchase Count
SN
Lisosia93                 $18.96                  $3.79               5
Idastidru52               $15.45                  $3.86               4
Chamjask73                $13.83                  $4.61               3
Iral74                    $13.62                  $3.40               4
Iskadarya95               $13.10                  $4.37               3