In [1]:
import pandas as pd

In [2]:
purchase_df = pd.read_csv("purchase_data.csv")

In [3]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Total Number of Players
players = purchase_df["SN"].value_counts()
playerTotal = len(players)
playerTotal_df = pd.DataFrame({"Total Players": [playerTotal]})
totalnum = int(playerTotal_df.iloc[0,0])
totalnum

576

In [5]:
#Number of Unique Items
items = purchase_df["Item ID"].value_counts()
itemTotal = len(items)
itemTotal

179

In [6]:
totalPrice = round(purchase_df["Price"].sum(), 2)
totalPrice

2379.77

In [7]:
purchases = purchase_df["Purchase ID"].value_counts()
purchaseTotal = len(purchases)
purchaseTotal

780

In [8]:
averagePrice = round(totalPrice/purchaseTotal, 2)
averagePrice

3.05

In [9]:
#Purchasing Analysis (Total)
purchaseAnalysis_df = pd.DataFrame({"Number of Unique Items": [itemTotal], "Average Purchase Price": [averagePrice], "Total Number of Purchases": [purchaseTotal], "Total Revenue": [totalPrice]})
purchaseAnalysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.05,780,2379.77

In [10]:
#Purchasing Analysis w/ Formatting
purchaseAnalysis_df["Average Purchase Price"] = purchaseAnalysis_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purchaseAnalysis_df["Total Revenue"] = purchaseAnalysis_df["Total Revenue"].astype(float).map("${:,.2f}".format)

In [22]:
#Beginning of Gender Demographics Work
snGender_df = purchase_df[["SN", "Gender"]]
uniqueGenSn_df = snGender_df.drop_duplicates()
uniqueGenSn_df

                SN  Gender
0          Lisim78    Male
1      Lisovynya38    Male
2       Ithergue48    Male
3    Chamassasya86    Male
4        Iskosia90    Male
..             ...     ...
773         Hala31    Male
774     Jiskjask80    Male
775     Aethedru70  Female
777     Yathecal72    Male
778        Sisur91    Male

[576 rows x 2 columns]

In [21]:
genderGroup = snGender_df.groupby(["Gender", "SN"])
gender_df = genderGroup.count()
gender_df

Empty DataFrame
Columns: []
Index: [(Female, Adastirin33), (Female, Aerithllora36), (Female, Aethedru70), (Female, Aidain51), (Female, Aiduesu86), (Female, Aillyrin83), (Female, Aisurdru79), (Female, Assilsan72), (Female, Assosia88), (Female, Baelollodeu94), (Female, Chadistaya75), (Female, Chamast86), (Female, Chamilsala65), (Female, Chamirrasya33), (Female, Chamjask73), (Female, Chanastsda67), (Female, Chanirra79), (Female, Chanjask65), (Female, Chanossast57), (Female, Errian63), (Female, Eudanu32), (Female, Eudanu84), (Female, Eusri70), (Female, Frichaststa61), (Female, Frichosia58), (Female, Frichosiala98), (Female, Haisurra41), (Female, Hari50), (Female, Heosurnuru52), (Female, Heudai45), (Female, Heuli25), (Female, Heunadil74), (Female, Ialallo29), (Female, Iduenu77), (Female, Ilmol66), (Female, Inasuir29), (Female, Iskichinya81), (Female, Isurria36), (Female, Jiskjask60), (Female, Lassadarsda57), (Female, Layjask75), (Female, Leyirra83), (Female, Lisassa64), (Female, Lisirra58), (Female, Lisotesta51), (Female, Maradaran90), (Female, Marast30), (Female, Marilsa69), (Female, Marim28), (Female, Mindadaran26), (Female, Mindilsa34), (Female, Phaedue89), (Female, Phaelap26), (Female, Pheosurllorin41), (Female, Phyali88), (Female, Quanrion96), (Female, Quanunwen42), (Female, Quilassa66), (Female, Reulae52), (Female, Reunasu60), (Female, Rithe53), (Female, Sally64), (Female, Sida61), (Female, Sondassasya91), (Female, Sondim68), (Female, Sondistanya61), (Female, Sundjask71), (Female, Syalollorap93), (Female, Syathe73), (Female, Taeduenu92), (Female, Tyaelistidru84), (Female, Tyaelly53), (Female, Tyaenasti87), (Female, Tyidaim51), (Female, Tyidainu31), (Female, Umolrian85), (Female, Wailin72), (Female, Yana46), (Female, Yarithrin84), (Female, Yathecal82), (Female, Yoishirrala98), (Male, Adairialis76), (Male, Aeda94), (Male, Aela59), (Male, Aelaria33), (Male, Aelastirin39), (Male, Aelidru27), (Male, Aelin32), (Male, Aelly27), (Male, Aellynun67), (Male, Aellyria80), (Male, Aelollo59), (Male, Aenarap34), (Male, Aeral43), (Male, Aeral68), (Male, Aeral97), (Male, Aeralria27), (Male, Aeralstical35), (Male, Aeri84), (Male, Aerillorin70), ...]

[576 rows x 0 columns]

In [ ]:
percentGender = gender_df["SN"]/ totalnum
percentGender

In [ ]:
gender_df["Percentage of Players"] = percentGender
gender_df

In [13]:
gender_df.drop(['Gender'], axis=1)
gender_df

                        SN  Gender
Gender
Female                  81       1
Male                   484       1
Other / Non-Disclosed   11       1

In [ ]:
#Display Player Count
playerTotal_df

In [ ]:
#Display Purchasing Analysis(Total)
purchaseAnalysis_df