In [1]:
import pandas as pd

In [2]:
purchase_df = pd.read_csv("purchase_data.csv")

In [3]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Total Number of Players
players = purchase_df["SN"].value_counts()
playerTotal = len(players)
playerTotal_df = pd.DataFrame({"Total Players": [playerTotal]})
totalnum = int(playerTotal_df.iloc[0,0])
#totalnum

In [5]:
#Number of Unique Items
items = purchase_df["Item ID"].value_counts()
itemTotal = len(items)
#itemTotal

In [6]:
totalPrice = round(purchase_df["Price"].sum(), 2)
#totalPrice

In [7]:
purchases = purchase_df["Purchase ID"].value_counts()
purchaseTotal = len(purchases)
#purchaseTotal

In [8]:
averagePrice = round(totalPrice/purchaseTotal, 2)
#averagePrice

In [9]:
#Purchasing Analysis (Total)
purchaseAnalysis_df = pd.DataFrame({"Number of Unique Items": [itemTotal], "Average Purchase Price": [averagePrice], "Total Number of Purchases": [purchaseTotal], "Total Revenue": [totalPrice]})
#purchaseAnalysis_df

In [10]:
#Beginning of Gender Demographics Work
snGender_df = purchase_df[["SN", "Gender"]]
uniqueGenSn_df = snGender_df.drop_duplicates()
#uniqueGenSn_df

In [11]:
genderGroup = uniqueGenSn_df.groupby(["Gender"])
gender_df = genderGroup.count()
#gender_df

In [12]:
percentGender = gender_df["SN"]/ totalnum
#percentGender

In [13]:
gender_df["Percentage of Players"] = percentGender
#gender_df

In [14]:
gender_df.rename(columns={"SN":"Total Count"}, inplace=True)
#gender_df

In [15]:
#Beginning of Purchasing Analysis (Gender)
genPur_df = purchase_df[["Purchase ID", "SN", "Gender", "Price"]]
#genPur_df

In [16]:
Count = genPur_df.groupby(["Gender"])
Count_df = Count.count()
#Count_df

In [17]:
genderAnalysis_df = pd.DataFrame({"Purchase Count" :Count_df["Purchase ID"]})
#genderAnalysis_df

In [18]:
avg_df = Count.mean()
#avg_df

In [19]:
priceAvg = avg_df["Price"]
#priceAvg

In [20]:
sum_df = Count.sum()
#sum_df

In [21]:
totalPrice = sum_df["Price"]
#totalPrice

In [22]:
personGroup = genPur_df.groupby(["Gender", "SN"])
personGroupTotal_df = personGroup.sum()
#personGroupTotal_df

In [23]:
genderPers = personGroupTotal_df.groupby(["Gender"])
genderPers_df = genderPers.mean()
#genderPers_df

In [24]:
priceAvgPers = genderPers_df["Price"]
#priceAvgPers

In [25]:
genderAnalysis_df["Average Purchase Price"] = priceAvg
#genderAnalysis_df

In [26]:
genderAnalysis_df["Total Purchase Value"] = totalPrice
#genderAnalysis_df

In [27]:
genderAnalysis_df["Avg Total Purchase per Person"] = priceAvgPers
#genderAnalysis_df

In [28]:
#Beginning of Purchasing Analysis (Age) work
agebin = [0,10,15,20,25,30,35,40,45,100]
agebin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45+"]
purchase_df["Age"].max()
purchase_df["Age Groups"] = pd.cut(purchase_df["Age"], agebin, labels=agebin_names, include_lowest=True)
#purchase_df

In [29]:
groupAge = purchase_df.groupby(["Age Groups"])
ageCount_df = groupAge.count()
#ageCount_df

In [30]:
purCountAge = ageCount_df["Purchase ID"]
#purCountAge

In [31]:
ageAvg_df = groupAge.mean()
#ageAvg_df

In [32]:
purAvgPriceAge = ageAvg_df["Price"]
#purAvgPriceAge

In [33]:
ageSum_df = groupAge.sum()
#ageSum_df

In [34]:
purTotalPriceAge = ageSum_df["Price"]
#purTotalPriceAge

In [35]:
agePersGroup = purchase_df.groupby(["Age Groups", "SN"])
agePersGroup_df = agePersGroup.sum()
#agePersGroup_df

In [36]:
ageGroupByPerson = agePersGroup_df.groupby(["Age Groups"])
ageGroupByPerson_df = ageGroupByPerson.mean()
#ageGroupByPerson_df

In [37]:
purAvgPriceAgePerson = ageGroupByPerson_df["Price"]
#purAvgPriceAgePerson

In [38]:
ageAnalysis_df = pd.DataFrame({"Purchase Count" :ageCount_df["Purchase ID"]})
#ageAnalysis_df

In [39]:
ageAnalysis_df["Average Purchase Price"] = purAvgPriceAge
#ageAnalysis_df

In [40]:
ageAnalysis_df["Total Purchase Value"] = purTotalPriceAge
#ageAnalysis_df

In [41]:
ageAnalysis_df["Avg Total Purchase per Person"] = purAvgPriceAgePerson
ageAnalysis_df = ageAnalysis_df.dropna()
#ageAnalysis_df

In [42]:
#Age Demograhpics work
agePersonCount_df = ageGroupByPerson.count()
#agePersonCount_df

In [43]:
ageDemo_df = pd.DataFrame({"Total Count" :agePersonCount_df["Age"]})
#ageDemo_df

In [44]:
ageDemo_df["Percentage of Players"] = agePersonCount_df["Age"]/totalnum
#ageDemo_df

In [45]:
#Top Spenders work
playersGroup = purchase_df.groupby(["SN"])
#playersGroup
playersSum_df = playersGroup.sum()
#playersSum_df

In [46]:
playersSum_df = playersSum_df.sort_values(["Price"], ascending=False)
#playersSum_df
#playersCount_df = playersGroup.count()
#playersCount_df

In [47]:
topFive_df = playersSum_df.head(5)
topFiveTotal_df = pd.DataFrame({"Total Purchase Value": topFive_df["Price"]})
#topFiveTotal_df

In [48]:
playersCount_df = playersGroup.count()
playersCount_df.drop(columns=["Age", "Gender", "Item ID", "Item Name", "Price", "Age Groups"], inplace=True)
#playersCount_df

In [49]:
playersAverage_df = playersGroup.mean()
playersAverage_df.drop(columns=["Purchase ID", "Age", "Item ID"], inplace=True)
#playersAverage_df

In [50]:
topTotalMean_df = pd.merge(topFiveTotal_df, playersAverage_df, on="SN", how="left")
topTotalMean_df.rename(columns={"Price":"Average Purchase Price"}, inplace=True)
#topTotalMean_df

In [51]:
topAnalysis_df = pd.merge(topTotalMean_df, playersCount_df, on="SN", how="left")
topAnalysis_df.rename(columns={"Purchase ID":"Purchase Count"}, inplace=True)
#topAnalysis_df

In [52]:
#Beginning of Most Popular Items analysis
item_group = purchase_df.groupby(["Item ID", "Item Name", "Price"])
item_count_df = item_group.count()
#item_count_df

                                                            Purchase ID  SN  \
Item ID Item Name                                    Price
0       Splinter                                     1.28             4   4
1       Crucifer                                     1.99             1   1
                                                     3.26             3   3
2       Verdict                                      2.48             6   6
3       Phantomlight                                 2.49             6   6
...                                                                 ...  ..
178     Oathbreaker, Last Hope of the Breaking Storm 4.23            12  12
179     Wolf, Promise of the Moonwalker              4.48             6   6
181     Reaper's Toll                                1.66             5   5
182     Toothpick                                    4.03             3   3
183     Dragon's Greatsword                          1.09             3   3

                                                            Age  Gender  \
Item ID Item Name                                    Price
0       Splinter                                     1.28     4       4
1       Crucifer                                     1.99     1       1
                                                     3.26     3       3
2       Verdict                                      2.48     6       6
3       Phantomlight                                 2.49     6       6
...                                                         ...     ...
178     Oathbreaker, Last Hope of the Breaking Storm 4.23    12      12
179     Wolf, Promise of the Moonwalker              4.48     6       6
181     Reaper's Toll                                1.66     5       5
182     Toothpick                                    4.03     3       3
183     Dragon's Greatsword                          1.09     3       3

                                                            Age Groups
Item ID Item Name                                    Price
0       Splinter                                     1.28            4
1       Crucifer                                     1.99            1
                                                     3.26            3
2       Verdict                                      2.48            6
3       Phantomlight                                 2.49            6
...                                                                ...
178     Oathbreaker, Last Hope of the Breaking Storm 4.23           12
179     Wolf, Promise of the Moonwalker              4.48            6
181     Reaper's Toll                                1.66            5
182     Toothpick                                    4.03            3
183     Dragon's Greatsword                          1.09            3

[183 rows x 5 columns]

In [76]:
item_count_df.rename(columns={"Purchase ID":"Purchase Count"}, inplace=True)
item_count_df.drop(columns=["SN", "Age", "Gender", "Age Groups"], inplace=True)

KeyError: "['SN' 'Age' 'Gender' 'Age Groups'] not found in axis"

In [79]:
item_count_df = item_count_df.sort_values(["Purchase Count"], ascending=False)
top_items_df = item_count_df.head(5)
top_items_df = top_items_df.reset_index(level=["Item ID", "Item Name", "Price"])
top_items_df.rename(columns={"Price":"Item Price"}, inplace=True)
#top_items_df

,Item ID,Item Name,Item Price,Purchase Count
0,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12
1,82,Nirvana,4.90,9
2,108,"Extraction, Quickblade Of Trembling Hands",3.53,9
3,145,Fiery Glass Crusader,4.58,9
4,103,Singed Scalpel,4.35,8

In [81]:
#Calculate the column for the Total Purchase value of the item

top_items_df["Total Purchase Value"] = top_items_df["Item Price"] * top_items_df["Purchase Count"]
#top_items_df

,Item ID,Item Name,Item Price,Purchase Count,Total Purchase Value
0,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
1,82,Nirvana,4.90,9,44.10
2,108,"Extraction, Quickblade Of Trembling Hands",3.53,9,31.77
3,145,Fiery Glass Crusader,4.58,9,41.22
4,103,Singed Scalpel,4.35,8,34.80

In [55]:
#Display Player Count
playerTotal_df

   Total Players
0            576

In [56]:
#Purchasing Analysis w/ Formatting
purchaseAnalysis_df["Average Purchase Price"] = purchaseAnalysis_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purchaseAnalysis_df["Total Revenue"] = purchaseAnalysis_df["Total Revenue"].astype(float).map("${:,.2f}".format)

In [57]:
#Display Purchasing Analysis(Total)
purchaseAnalysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [58]:
#Formatting for Gender Demographics
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:,.2%}".format)

In [59]:
#Display for Gender Demographics
gender_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [60]:
#Formatting for Gender Analysis
genderAnalysis_df["Average Purchase Price"] = genderAnalysis_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
genderAnalysis_df["Total Purchase Value"] = genderAnalysis_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
genderAnalysis_df["Avg Total Purchase per Person"] = genderAnalysis_df["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

In [61]:
#Display for Gender Analysis
genderAnalysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [62]:
#Formatting for Age Demographics
ageDemo_df["Percentage of Players"] = ageDemo_df["Percentage of Players"].map("{:,.2%}".format)

In [63]:
#Display for Age Demographics
ageDemo_df

            Total Count Percentage of Players
Age Groups
<10                  24                 4.17%
10-14                41                 7.12%
15-19               150                26.04%
20-24               232                40.28%
25-29                59                10.24%
30-34                37                 6.42%
35-39                26                 4.51%
40-44                 7                 1.22%
45+                   0                 0.00%

In [64]:
#Formatting for Age Analysis
ageAnalysis_df["Average Purchase Price"] = ageAnalysis_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
ageAnalysis_df["Total Purchase Value"] = ageAnalysis_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
ageAnalysis_df["Avg Total Purchase per Person"] = ageAnalysis_df["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)

In [65]:
#Display for Age Analysis
ageAnalysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Groups,,,,
<10,32,$3.40,$108.96,$4.54
10-14,54,$2.90,$156.60,$3.82
15-19,200,$3.11,$621.56,$4.14
20-24,325,$3.02,$981.64,$4.23
25-29,77,$2.88,$221.42,$3.75
30-34,52,$2.99,$155.71,$4.21
35-39,33,$3.40,$112.35,$4.32
40-44,7,$3.08,$21.53,$3.08

In [66]:
#Formatting for Top Spenders
topAnalysis_df["Average Purchase Price"] = topAnalysis_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
topAnalysis_df["Total Purchase Value"] = topAnalysis_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
topAnalysis_df

            Total Purchase Value Average Purchase Price  Purchase Count
SN
Lisosia93                 $18.96                  $3.79               5
Idastidru52               $15.45                  $3.86               4
Chamjask73                $13.83                  $4.61               3
Iral74                    $13.62                  $3.40               4
Iskadarya95               $13.10                  $4.37               3

In [82]:
#Formatting for Top Items Sold
top_items_df["Item Price"] = top_items_df["Item Price"].astype(float).map("${:,.2f}".format)
top_items_df["Total Purchase Value"] = top_items_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
top_items_df

,Item ID,Item Name,Item Price,Purchase Count,Total Purchase Value
0,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
1,82,Nirvana,$4.90,9,$44.10
2,108,"Extraction, Quickblade Of Trembling Hands",$3.53,9,$31.77
3,145,Fiery Glass Crusader,$4.58,9,$41.22
4,103,Singed Scalpel,$4.35,8,$34.80